<IfModule mod_headers.c>
    # Разрешить все  
    Header always set Access-Control-Allow-Origin "*"

    # Какие методы и заголовки разрешены
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header always set Access-Control-Allow-Headers "Content-Type, Authorization"

    # Чтобы pre flight кэшировался подольше (опц.)
    Header always set Access-Control-Max-Age "86400"
</IfModule>


# Кодировка по умолчанию
AddDefaultCharset UTF-8
# подключаем модуль mod_rewrite
RewriteEngine On
# а здесь инструкции для преобразования  

#RewriteCond %{HTTPS} =off 
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]


RewriteRule ^(.*)/(.*)/(.*)/(.*)/(.*)/(.*)/(.*)/$ index.php?links[]=$1&links[]=$2&links[]=$3&links[]=$4&links[]=$5&links[]=$6&links[]=$7 [QSA,L]
RewriteRule ^(.*)/(.*)/(.*)/(.*)/(.*)/(.*)/$ index.php?links[]=$1&links[]=$2&links[]=$3&links[]=$4&links[]=$5&links[]=$6 [QSA,L]
RewriteRule ^(.*)/(.*)/(.*)/(.*)/(.*)/$ index.php?links[]=$1&links[]=$2&links[]=$3&links[]=$4&links[]=$5 [QSA,L]
RewriteRule ^(.*)/(.*)/(.*)/(.*)/$ index.php?links[]=$1&links[]=$2&links[]=$3&links[]=$4 [QSA,L]
RewriteRule ^(.*)/(.*)/(.*)/$ index.php?links[]=$1&links[]=$2&links[]=$3 [QSA,L]
RewriteRule ^(.*)/(.*)/$ index.php?links[]=$1&links[]=$2 [QSA,L]
RewriteRule ^(.*)/$ index.php?links[]=$1 [QSA,L]

ErrorDocument 404  /404/